[submodule "contrib/deterministic-build/electrum-blk-locale"]
	path = contrib/deterministic-build/electrum-blk-locale
	url = https://github.com/spesmilo/electrum-locale
[submodule "electrum_blk/www"]
	path = electrum_blk/www
	url = https://github.com/spesmilo/electrum-http.git
[submodule "electrum_blk/gui/kivy/theming/atlas"]
	path = electrum_blk/gui/kivy/theming/atlas
	url = https://github.com/spesmilo/electrum-kivy-atlas
