# If you want Electrum-BLK to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-blk.desktop
# Note: This assumes $HOME/.local/bin is in your $PATH

[Desktop Entry]
Comment=Lightweight Blackcoin Client
Exec=electrum %u
GenericName[en_US]=Blackcoin Wallet
GenericName=Blackcoin Wallet
Icon=electrum
Name[en_US]=Electrum Blackcoin Wallet
Name=Electrum Blackcoin Wallet
Categories=Finance;Network;
StartupNotify=true
StartupWMClass=electrum-blk
Terminal=false
Type=Application
MimeType=x-scheme-handler/blackcoin;x-scheme-handler/lightning;
Actions=Testnet;
Keywords=crypto;currency;BLK

[Desktop Action Testnet]
Exec=electrum-blk --testnet %u
Name=Testnet mode
